.what_is_html {
    border: 0 solid #9f9d9d;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.term {
    border-bottom: 1px dotted #0e0b0b;
}

code {
    color: rgb(189, 70, 70);
    font-size: 15px;
    background-color: #ece9e9;
}