body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    text-align: center;
}

.section,
.header {
    border: 0 solid #9f9d9d;
    border-bottom-width: 2px;
}

span.term {
    text-decoration: underline dotted black;
}

code {
    color: rgb(189, 70, 70);
    font-size: 15px;
    background-color: #ece9e9;
}